<!-- Begin victor/html/footer.html -->
<div class='footer'>
    <div class='grid'>
        <div class='column-0'>
            <h4>Resources</h4>
            <ul>
                <li>
                    <a href="/terms">Terms of service</a>
                </li>
                <li>
                    <a href="/terms">Privacy policy</a>
                </li>
            </ul>
        </div>
        <div class='column-1'>
            <h4>Developers</h4>
            <ul>
                <li>
                    <a href="https://docs.joinmastodon.org/">Documentation</a>
                </li>
                <li>
                    <a href="https://docs.joinmastodon.org/client/intro/">API</a>
                </li>
            </ul>
        </div>
        <div class='column-2'>
            <h4>
                <a href="https://joinmastodon.org/">What is friendly-mail?</a>
            </h4>
            <a class="brand" href="https://mastodon.social/">
                <svg viewBox="0 0 79 79" class="logo logo--icon">
                    <use href="#logo-symbol-icon"/>
                </svg>
            </a>
        </div>
        <div class='column-3'>
            <h4>mastodon.social</h4>
            <ul>
                <li>
                    <a href="/about/more">About</a>
                </li>
                <li>v3.5.3</li>
            </ul>
        </div>
        <div class='column-4'>
            <h4>More…</h4>
            <ul>
                <li>
                    <a href="https://github.com/mastodon/mastodon">Source code</a>
                </li>
                <li>
                    <a href="https://joinmastodon.org/apps">Mobile apps</a>
                </li>
            </ul>
        </div>
    </div>
    <div class='legal-xs'>
        <a href="https://github.com/mastodon/mastodon">v3.5.3</a>

        ·
        <a href="/terms">Privacy policy</a>
    </div>
</div>
<!-- End victor/html/footer.html -->
