                    <div class='activity-stream h-entry'>
                        <div class='entry entry-center'>
                            <div class='detailed-status detailed-status--flex detailed-status-public'>
                                <div class='p-author h-card'>
                                    <a class="detailed-status__display-name u-url" rel="noopener" href="https://mastodon.social/@molly0xfff">
                                        <div class='detailed-status__display-avatar'>
                                            <img alt="" class="account__avatar u-photo" src="https://files.mastodon.social/accounts/avatars/108/195/786/673/272/050/original/3ba4bd4db3a234e5.jpeg"/>
                                        </div>
                                        <span class='display-name'>
                                            <bdi>
                                                <strong class='display-name__html p-name emojify'>Molly Millions</strong>
                                            </bdi>
                                            <span class='display-name__account'>
                                            @molly0xfff@mastodon.social

                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class='status__content emojify'>
                                    <div class='e-content' lang='en'>
                                        <p>hello, world</p>
                                    </div>
                                </div>
                                <div class='detailed-status__meta'>
                                    <data class='dt-published' value='2022-07-31T01:07:40+00:00'></data>
                                    <a class="detailed-status__datetime u-url u-uid" rel="noopener noreferrer" href="https://mastodon.social/@molly0xfff/108739275039400550">
                                        <time class='formatted' datetime='2022-07-31T01:07:40Z' title='Jul 31, 2022, 01:07'>Jul 31, 2022, 01:07</time>
                                    </a>
                                    ·
                                    <span class='detailed-status__visibility-icon'>
                                        <i title="Public" class="fa fa-globe"></i>
                                    </span>
                                    ·
                                    <a class="modal-button detailed-status__link" href="/interact/108739275039400550?type=reply">
                                        <i class="fa fa-reply"></i>
                                        <span class='detailed-status__reblogs'>0</span>
                                    </a>
                                    ·
                                    <a class="modal-button detailed-status__link" href="/interact/108739275039400550?type=reblog">
                                        <i class="fa fa-retweet"></i>
                                        <span class='detailed-status__reblogs'>0</span>
                                    </a>
                                    ·
                                    <a class="modal-button detailed-status__link" href="/interact/108739275039400550?type=favourite">
                                        <i class="fa fa-star"></i>
                                        <span class='detailed-status__favorites'>13</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
