<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultThemeName</key>
	<string>victor</string>
	<key>themes</key>
	<array>
		<dict>
			<key>directory</key>
			<string>victor</string>
			<key>name</key>
			<string>Victor</string>
		</dict>
	</array>
	<key>copyright</key>
	<string>There Is No Copyright</string>
</dict>
</plist>
